@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";
}

<div class="backgroundImg">
    <div class="masthead-heading text-center titletext">
        <p class="main-title">Welcome to World of Anime</p>
        <p class="sub-title">Discover anime and manga, track you progress and read reviews</p>
    </div>
</div>
