@page
@model WebAppGraphic.Pages.LoginResetPasswordModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLoginRegister";
}
<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4 rounded">
                    <h2 class="text-center mb-4">Login</h2>
                    <form method="post">

                        <div class="form-group mb-3">
                            <label asp-for="UserEmail" class="text-white">Email</label>
                            <input asp-for="UserEmail" type="text" class="form-control rounded-pill" placeholder="Your email..." />
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="UserPassword" class="text-white">Password</label>
                            <input asp-for="UserPassword" type="password" class="form-control rounded-pill" placeholder="New password..." />
                            <span asp-validation-for="UserPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="ConfirmPassword" class="text-white">Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control rounded-pill" placeholder="Confirm password..." />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" style="padding: 2px 20px 3px 20px; font-size: 20px" class="btn btn-primary rounded-pill mt-4 d-flex mx-auto">Reset Password</button>
                        <div style="list-style-type: none; margin-top: 1rem;" asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
