@page
@model WebAppGraphic.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLoginRegister";
}
<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4 rounded">
                    <h2 class="text-center mb-4">Login</h2>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-3">
                            <label asp-for="UserEmail" class="text-white">Email</label>
                            <input asp-for="UserEmail" type="text" class="form-control rounded-pill" placeholder="Your email..." />
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="UserPassword" class="text-white">Password</label>
                            <input asp-for="UserPassword" type="password" class="form-control rounded-pill" placeholder="Your password..." />
                            <span asp-validation-for="UserPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" style="padding: 2px 20px 3px 20px; font-size: 20px" class="btn btn-primary rounded-pill mt-4 d-flex mx-auto">Login</button>
                    </form>
                    <div class="text-center mt-3 text-white">
                        Don't have an account? Register <a asp-page="Register" id="redirectRegister" role="button">here.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
