@page
@model WebAppGraphic.Pages.NewReleasesAnimeModel
@{
    ViewData["Title"] = "New releases anime";
    int? id = HttpContext.Session.GetInt32("userId");
    if (id != null)
    {
        Layout = "_LayoutLogout";
    }
    else
    {
        Layout = "_Layout";
    }
}

<div class="background-img-anime">
</div>