@page
@model WebAppGraphic.Pages.ProfileModel
@{
	Layout = "_LayoutLogout";
}

<label class="text-white" asp-for="CurrentUser.Id">@Model.CurrentUser.Id</label>
<label class="text-white" asp-for="CurrentUser.Profile.Username">@Model.CurrentUser.Profile.Username</label>