<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationGraphicLayer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login_register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplicationGraphicLayer.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
</head>
<body class="main-layout">
    <header>
        <nav class="navbar navbar-expand-lg mynavbar">
            <a class="navbar-brand" href="/Index"><img src="images/logo.jpg" alt="Logo" class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto myul">
                    <li class="nav-item dropdown myli">
                        <a class="nav-link dropdown-toggle" href="page1.html" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Anime
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="#">Sub-Element 1</a>
                            <a class="dropdown-item" href="#">Sub-Element 2</a>
                            <a class="dropdown-item" href="#">Sub-Element 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown myli">
                        <a class="nav-link dropdown-toggle" href="page2.html" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manga
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="#">Sub-Element 1</a>
                            <a class="dropdown-item" href="#">Sub-Element 2</a>
                            <a class="dropdown-item" href="#">Sub-Element 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown myli">
                        <a class="nav-link dropdown-toggle" href="page3.html" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Characters
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="#">Sub-Element 1</a>
                            <a class="dropdown-item" href="#">Sub-Element 2</a>
                            <a class="dropdown-item" href="#">Sub-Element 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown myli">
                        <a class="nav-link dropdown-toggle" href="page4.html" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Community
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                            <a class="dropdown-item" href="#">Sub-Element 1</a>
                            <a class="dropdown-item" href="#">Sub-Element 2</a>
                            <a class="dropdown-item" href="#">Sub-Element 3</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown myli">
                        <a class="nav-link dropdown-toggle" href="page5.html" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                            <a class="dropdown-item" href="#">Sub-Element 1</a>
                            <a class="dropdown-item" href="#">Sub-Element 2</a>
                            <a class="dropdown-item" href="#">Sub-Element 3</a>
                        </div>
                    </li>
                </ul>

            </div>
            <ul class="navbar-nav mr-auto myul" style="padding-left: 5em">
                <li class="myli"><a class="nav-link" asp-page="./ContactLogin">log in</a></li>
                <li class="myli"><a class="nav-link" asp-page="./ContactRegister">sign up</a></li>
            </ul>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="myfooter">
        <div class="container">
            &copy; 2023 - Ciuperca Diana-Valentina - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>