USE [master]
GO
/****** Object:  Database [dbi505708_animedb]    Script Date: 02/13/2024 5:53:50 PM ******/
CREATE DATABASE [dbi505708_animedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbi505708_animedb', FILENAME = N'D:\SQL\Data\dbi505708_animedb.mdf' , SIZE = 18432KB , MAXSIZE = 1048576KB , FILEGROWTH = 2048KB )
 LOG ON 
( NAME = N'dbi505708_animedb_log', FILENAME = N'D:\SQL\Log\dbi505708_animedb_log.ldf' , SIZE = 10944KB , MAXSIZE = 262144KB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbi505708_animedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbi505708_animedb]
GO
/****** Object:  Table [dbo].[Anime]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anime](
	[AnimeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Studio] [varchar](50) NOT NULL,
	[NrEpisodes] [int] NOT NULL,
	[ReleaseYear] [int] NOT NULL,
	[ReleaseSeason] [varchar](50) NOT NULL,
	[Rating] [decimal](18, 1) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Image] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Anime] PRIMARY KEY CLUSTERED 
(
	[AnimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Anime_Genre]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anime_Genre](
	[AnimeId] [int] NOT NULL,
	[GenreId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Character]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Character](
	[CharacterId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[AnimeId] [int] NULL,
	[MangaId] [int] NULL,
	[Image] [nvarchar](max) NOT NULL,
	[NrLikes] [int] NOT NULL,
	[NrDislikes] [int] NOT NULL,
 CONSTRAINT [PK_Character] PRIMARY KEY CLUSTERED 
(
	[CharacterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentGenre]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentGenre](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Genre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ContentGenre] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomList]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomList](
	[ListId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[ContentType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CustomList] PRIMARY KEY CLUSTERED 
(
	[ListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[List_Anime]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[List_Anime](
	[ListId] [int] NOT NULL,
	[AnimeId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[List_Character]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[List_Character](
	[ListId] [int] NOT NULL,
	[CharacterId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[List_Manga]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[List_Manga](
	[ListId] [int] NOT NULL,
	[MangaId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manga]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manga](
	[MangaId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Creator] [varchar](50) NOT NULL,
	[NrChapters] [int] NOT NULL,
	[ReleaseYear] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Rating] [decimal](18, 1) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Manga] PRIMARY KEY CLUSTERED 
(
	[MangaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manga_Genre]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manga_Genre](
	[MangaId] [int] NOT NULL,
	[GenreId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[ProfileId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Profile] PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile_Genre]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile_Genre](
	[ProfileId] [int] NOT NULL,
	[GenreId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profile_Pictures]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile_Pictures](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Data] [varbinary](max) NOT NULL,
	[ContentType] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[ProfileId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[ContentId] [int] NOT NULL,
	[ContentType] [varchar](50) NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02/13/2024 5:53:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[JoinDate] [date] NOT NULL,
	[Salt] [varchar](max) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_AnimeId]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnimeId] ON [dbo].[Anime]
(
	[AnimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NameAsc]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_NameAsc] ON [dbo].[Anime]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RatingAsc]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_RatingAsc] ON [dbo].[Anime]
(
	[Rating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReleaseYearAsc]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReleaseYearAsc] ON [dbo].[Anime]
(
	[ReleaseYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StudioAsc]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudioAsc] ON [dbo].[Anime]
(
	[Studio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Character]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Character] ON [dbo].[Character]
(
	[CharacterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Character_1]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Character_1] ON [dbo].[Character]
(
	[MangaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Character_2]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Character_2] ON [dbo].[Character]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Character_3]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Character_3] ON [dbo].[Character]
(
	[AnimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Character_4]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Character_4] ON [dbo].[Character]
(
	[NrLikes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Character_5]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Character_5] ON [dbo].[Character]
(
	[NrDislikes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CreatorAsc]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatorAsc] ON [dbo].[Manga]
(
	[Creator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MangaId]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_MangaId] ON [dbo].[Manga]
(
	[MangaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NameAsc]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_NameAsc] ON [dbo].[Manga]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RatingAsc]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_RatingAsc] ON [dbo].[Manga]
(
	[Rating] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReleaseYear]    Script Date: 02/13/2024 5:53:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ReleaseYear] ON [dbo].[Manga]
(
	[ReleaseYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Anime_Genre]  WITH CHECK ADD  CONSTRAINT [FK_Anime_Genre_Anime] FOREIGN KEY([AnimeId])
REFERENCES [dbo].[Anime] ([AnimeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Anime_Genre] CHECK CONSTRAINT [FK_Anime_Genre_Anime]
GO
ALTER TABLE [dbo].[Anime_Genre]  WITH CHECK ADD  CONSTRAINT [FK_Anime_Genre_ContentGenre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[ContentGenre] ([GenreId])
GO
ALTER TABLE [dbo].[Anime_Genre] CHECK CONSTRAINT [FK_Anime_Genre_ContentGenre]
GO
ALTER TABLE [dbo].[Character]  WITH CHECK ADD  CONSTRAINT [FK_Character_Anime] FOREIGN KEY([AnimeId])
REFERENCES [dbo].[Anime] ([AnimeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Character] CHECK CONSTRAINT [FK_Character_Anime]
GO
ALTER TABLE [dbo].[Character]  WITH CHECK ADD  CONSTRAINT [FK_Character_Manga] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([MangaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Character] CHECK CONSTRAINT [FK_Character_Manga]
GO
ALTER TABLE [dbo].[CustomList]  WITH CHECK ADD  CONSTRAINT [FK_CustomList_Profile] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profile] ([ProfileId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomList] CHECK CONSTRAINT [FK_CustomList_Profile]
GO
ALTER TABLE [dbo].[List_Anime]  WITH CHECK ADD  CONSTRAINT [FK_List_Anime_Anime] FOREIGN KEY([AnimeId])
REFERENCES [dbo].[Anime] ([AnimeId])
GO
ALTER TABLE [dbo].[List_Anime] CHECK CONSTRAINT [FK_List_Anime_Anime]
GO
ALTER TABLE [dbo].[List_Anime]  WITH CHECK ADD  CONSTRAINT [FK_List_Anime_CustomList] FOREIGN KEY([ListId])
REFERENCES [dbo].[CustomList] ([ListId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[List_Anime] CHECK CONSTRAINT [FK_List_Anime_CustomList]
GO
ALTER TABLE [dbo].[List_Character]  WITH CHECK ADD  CONSTRAINT [FK_List_Character_Character] FOREIGN KEY([CharacterId])
REFERENCES [dbo].[Character] ([CharacterId])
GO
ALTER TABLE [dbo].[List_Character] CHECK CONSTRAINT [FK_List_Character_Character]
GO
ALTER TABLE [dbo].[List_Character]  WITH CHECK ADD  CONSTRAINT [FK_List_Character_CustomList] FOREIGN KEY([ListId])
REFERENCES [dbo].[CustomList] ([ListId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[List_Character] CHECK CONSTRAINT [FK_List_Character_CustomList]
GO
ALTER TABLE [dbo].[List_Manga]  WITH CHECK ADD  CONSTRAINT [FK_List_Content_CustomList] FOREIGN KEY([ListId])
REFERENCES [dbo].[CustomList] ([ListId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[List_Manga] CHECK CONSTRAINT [FK_List_Content_CustomList]
GO
ALTER TABLE [dbo].[List_Manga]  WITH CHECK ADD  CONSTRAINT [FK_List_Manga_Manga] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([MangaId])
GO
ALTER TABLE [dbo].[List_Manga] CHECK CONSTRAINT [FK_List_Manga_Manga]
GO
ALTER TABLE [dbo].[Manga_Genre]  WITH CHECK ADD  CONSTRAINT [FK_Manga_Genre_ContentGenre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[ContentGenre] ([GenreId])
GO
ALTER TABLE [dbo].[Manga_Genre] CHECK CONSTRAINT [FK_Manga_Genre_ContentGenre]
GO
ALTER TABLE [dbo].[Manga_Genre]  WITH CHECK ADD  CONSTRAINT [FK_Manga_Genre_Manga] FOREIGN KEY([MangaId])
REFERENCES [dbo].[Manga] ([MangaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Manga_Genre] CHECK CONSTRAINT [FK_Manga_Genre_Manga]
GO
ALTER TABLE [dbo].[Profile]  WITH CHECK ADD  CONSTRAINT [FK_Profile_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Profile] CHECK CONSTRAINT [FK_Profile_User]
GO
ALTER TABLE [dbo].[Profile_Genre]  WITH CHECK ADD  CONSTRAINT [FK_Profile_Genre_ContentGenre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[ContentGenre] ([GenreId])
GO
ALTER TABLE [dbo].[Profile_Genre] CHECK CONSTRAINT [FK_Profile_Genre_ContentGenre]
GO
ALTER TABLE [dbo].[Profile_Genre]  WITH CHECK ADD  CONSTRAINT [FK_Profile_Genre_Profile] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profile] ([ProfileId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Profile_Genre] CHECK CONSTRAINT [FK_Profile_Genre_Profile]
GO
ALTER TABLE [dbo].[Profile_Pictures]  WITH CHECK ADD  CONSTRAINT [FK_Profile_Pictures_Profile] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profile] ([ProfileId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Profile_Pictures] CHECK CONSTRAINT [FK_Profile_Pictures_Profile]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Profile] FOREIGN KEY([ProfileId])
REFERENCES [dbo].[Profile] ([ProfileId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Profile]
GO
USE [master]
GO
