.backgroundImg {
    background-image: url('/images/homepage1.jpg');
    background-size: 100% 100%;
    height: 18em;
    background-position: center;
}

.masthead-heading {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.main-title {
    padding-top: 69px;
    font-size: 46px;
}

.sub-title {
    padding-top: 15px;
    font-size: 32px;
}

.second-title {
    padding:3rem 0rem 0rem 7rem;
    font-size: 36px;
    text-decoration: underline;
}

.container-display {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 4rem 7rem 4rem 7rem;
    gap: 2rem 6rem;
}

.container-display > a {
    height: 380px;
    text-decoration: none;
    color: white;
}

.container-display > a:hover {
        
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.container-display > a > div {
    margin-right: 0.5rem;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 10px 8px #888888;
    align-content: center;
}

.container-display > a > div > p {
    display: flex;
    justify-content: center;
    text-align: center;
}
        /*.card-display {
    
    border: none;
}

.card-display:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}*/