.background-img-login {
    background-image: url('/images/loginbg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    margin-top: 50px;
}

.card {
    background-color: rgba(0, 0, 0, 0.8);
}

.card h2 {
    color: white;
}

.form-control {
    border-radius: 30px;
    background-color: #34495e;
    color: white;
    border: none;
}

.form-control:focus {
    box-shadow: none;
}

.btn-primary {
    background-color: #9b59b6;
    border: none;
    align-content: center;
}

.btn-primary:hover {
    background-color: #8e44ad;
}
