/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html[b-ny4f1boial] {
    background-color: #6544f3;
}

.mynavbar[b-ny4f1boial] {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    background-color: #6544f3;
    margin: 0em;
    padding: 0em 5em 0em 5em;
    align-items: center;
}

.myul[b-ny4f1boial] {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.myli[b-ny4f1boial] {
    padding: 0px 25px 0px 25px;
}

.navbar-nav .nav-link[b-ny4f1boial] {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
}

.navbar-nav .nav-link:hover[b-ny4f1boial] {
    text-decoration: underline;
    color: white;
}

.navbar-brand[b-ny4f1boial] {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 8rem;
}

.navbar-nav .dropdown:hover .dropdown-menu[b-ny4f1boial] {
    display: block;
    background-color: #C8B8FC;
}

.logo[b-ny4f1boial] {
    width: 130px;
    height: 65px
}

.nopadding[b-ny4f1boial] {
    padding: 0em;
    margin-right: 5em;
}

.footer[b-ny4f1boial] {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #6544f3;
    color: #6544f3;
    white-space: nowrap;
    line-height: 60px;
}







