<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login_register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppGraphic.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
</head>

<body class="main-layout">
    <div class=" wrapper">
        <header>
            <nav class="navbar navbar-expand-lg mynavbar">
                <a class="navbar-brand" asp-page="/Index"><img src="images/logo.jpg" alt="Logo" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="display:flex; justify-content:center" id="navbarNav">
                    <ul class="navbar-nav mr-auto myul">
                        <li class="nav-item dropdown myli">
                            <a class="nav-link text-white hover-underline dropdown-toggle" asp-page="/Anime" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Anime
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" asp-page="NewReleasesAnime">New releases</a>
                                <a class="dropdown-item" asp-page="TopAnime">Top anime</a>
                                <a class="dropdown-item" asp-page="ForYouAnime">For you</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown myli">
                            <a class="nav-link text-white hover-underline dropdown-toggle" asp-page="/Manga" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manga
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" asp-page="NewReleasesManga">New releases</a>
                                <a class="dropdown-item" asp-page="TopManga">Top manga</a>
                                <a class="dropdown-item" asp-page="ForYouManga">For you</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown myli">
                            <a class="nav-link text-white hover-underline dropdown-toggle" asp-page="page3.html" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Characters
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                <a class="dropdown-item" asp-page="#">Favourite characters</a>
                                <a class="dropdown-item" asp-page="#">Hated characters</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown myli">
                            <a class="nav-link text-white hover-underline dropdown-toggle" asp-page="page4.html" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Community
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                                <a class="dropdown-item" asp-page="AnimeReviews">Anime reviews</a>
                                <a class="dropdown-item" asp-page="MangaReviews">Manga reviws</a>
                                <a class="dropdown-item" asp-page="#">About us</a>
                            </div>
                        </li>
                        <li class="nav-item myli">
                            <a class="nav-link text-white" asp-page="./Profile" id="navbarProfile" role="button">
                                Profile
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" style="display:flex; justify-content:right" id="navbarNavLogin">
                    <ul class="navbar-nav mr-auto myul">
                        <li class="myli"><a class="nav-link text-white hover-underline" asp-page="./Login">Login</a></li>
                        <li class="myli"><a class="nav-link text-white hover-underline" asp-page="./Register">Sign up</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="bg-dark">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="myfooter">
            <div>
                &copy; 2023 - Ciuperca Diana-Valentina - World of Anime. All rights reserved. <a class="text-white" asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
            <div>
                You can find more about us <a class= "text-white" asp-area="" asp-page="/AboutUs">here.</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>